@import url("whitespace-reset.css");

html {
  box-sizing: border-box;
  font: 16px Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  padding: 20px 0  240px 335px;
  overflow: auto;
}

nav {
  background: #464f77;
  width: 335px;
  height: 100vh;
  color: #ffffff;
  position: fixed;
  overflow: auto;
  padding: 0 0 220px 0;
}

#nav-toggle, #modal {
  display: none; /* hide the checkbox */
}

#hamburger {
  visibility: hidden;   /* hide the hamburger menu until browswer width is 768px or less */ 
}

.strikethrough {
  text-decoration: line-through;
}

nav::-webkit-scrollbar { 
  display: none; 
}

td {
  font-size: 15.5px;
}

.circle, .oval {
  background-color: #6b7292;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  text-align: center;
  font-size: 15px;
}

.circle {
  padding-left: 1px;
  padding-top: 1px;
}

.oval {
  width: 25px;
  border-radius: 10px;
  opacity: 80%;
  padding-top: 1px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#nav #all-todos {
  margin: 64px 0 48px 0;
}

th, td {
  height: 40px;
  letter-spacing: 1px;
  font-weight: lighter;
}

#all-todos thead tr {
  height: 44px;
}

#all-todos th:first-child {
  width: 38%;
  text-align: right;
}

#all-todos th:nth-child(2) {
  width: 42%;
  font-size: 17.5px;    /* "All Todos" */
  opacity: 90%;
  padding-left: 11px;
}

#all-todos th:last-child {
  width: 20%;
  padding-left: 10px;
}

#all-todos td:first-child {
  width: 38%;
}

#all-todos td:nth-child(2) {
  width: 42%;
  padding-left: 9px;
}

#all-todos td:last-child {
  width: 20%;
  padding-left: 16px;
}

#all-todos tbody td {
  padding-top: 2px;
}

#all-todos tbody tr:nth-child(n+2) td:nth-of-type(2n) {
  opacity: 60%;
}

#all-todos tbody tr:nth-child(n+2) p {
  opacity: 80%;
}

.active {
  background: #383f5f;
}

.blue {
  background: #148fd5;
}

/* Second Nav table */


#completed thead tr {
  height: 44px;
}

#completed th:first-child {
  width: 40%;
  text-align: right;
  padding-right: 6.5px;
}

#completed th:last-child {
  width: 60%;
  font-size: 17.5px;
  padding-left: 4px;
  padding-bottom: 3px;
  opacity: 90%;
}

#completed td {
  padding-left: 4px;
  padding-top: 2px;
  opacity: 50%;
}

/* Main Section / White page */

main section {
  padding: 20px 52px 0 20px;
}

main label {
  padding-left: 30px;
}

main table th:first-child {
  width: 5%;
  padding-top: 6px;
  letter-spacing: 0.2px;
}

main table th:nth-child(2) {
  width: 90%;
  text-align: left;
  padding-bottom: 4px;
  padding-top: 8px;
  font-size: 15.5px;
}

main table th:last-child {
  width: 5%;
}

main table td:first-child {
  width: 5%;
  padding-left: 12px;
  padding-top: 4px;
}

main table td:nth-child(2) {
  width: 90%;
}

main table td:last-child {
  width: 5%;
  text-align: right;
}

main table td {
  border-top: 1px solid black;
  border-color: rgb(0, 0, 0, 0.1)
}

main table th, main table td {
  height: 49px;
}

#hamburger {
  width: 22px;
  height: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #148fd5;
}

main table thead th:nth-child(2) a {
  color: #148fd5;
}

main h1 {
  font-size: 20.5px;
  font-weight: lighter;
  display: inline-block;
  margin: 11px 18px 22px 12px;
  letter-spacing: 1.5px;
}

main section > p {
  display: inline-block;
  color: white;
  position: relative;
  bottom: 1px;
  font-weight: lighter;
}

main section .strikethrough {
  opacity: 50%;
}

main table tbody tr:first-child label {
  padding: 0;
}

/* Modal Styles */

#modal_form {
  display: none;
}

#modal:checked + aside {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 115px 200px 200px 105px;
  bottom: 1px;
  background-color: #80808050;
}

.styled-form * {
  margin: 0;
  padding: 0;
}

.styled-form fieldset {
  background-color: white;
  width: 65%;
  height: 397px;
  padding: 35px 40px 40px 30px;
}

.side-by-side dl {
  padding: 0 0 20px 0;
}

.side-by-side dt,
.side-by-side dd {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.side-by-side dd {
  vertical-align: middle;
}

.side-by-side dt {
  /*padding-right: 1rem;*/
  width: 20%;
}

.side-by-side .text-field {
  width: 75%;
}

.text-field input,
.text-field textarea {
  width: 100%;
}

.text-field input {
  height: 35px;
}

.text-field textarea {
  height: 145px;
}

.side-by-side .date dd:nth-child(n+3) {
  padding: 0 8px;
}

.side-by-side .date dd:nth-child(even) {
  width: 22%;
}

.side-by-side .date dd:nth-child(odd) {
  width: 0%;
}


.side-by-side .date dd select {
  height: 35px;
  width: 100%;
}

.side-by-side .button input {
  background-color: #148fd5;
  height: 35px;
  border-radius: 5px;
  width: 165px;
  color: white;
  border-style: none;
}

.styled-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image:
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-right: 1.5rem;
}

label {
  cursor: pointer;
}

/* When screen shrinks */

@media screen and (max-width: 768px) {
  label {
    cursor: pointer;
  }

  #hamburger {
    visibility: visible;
  }

  #nav {
    display: none;
  }

  #nav-toggle:checked + #nav {
    display: block;
  }

  main {
    height: 100%;
    padding: 20px 0  0 0;
  }

  #nav-toggle:checked ~ main {
    height: 100%;
    padding: 20px 0  0 335px;
  }

}
