@import url("whitespace-reset.css");

html {
  box-sizing: border-box;
  font: 16px Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  height: 100vh;
  min-width: 200px;
}

nav {
  background: #464f77;
  width: 335px;
  float: left;
  height: 100vh;
  color: #ffffff;
  overflow: auto;
}

    /* Main Styles */

/* div containing todo list table */

.todo-list {
  width: 65vw;
  position: absolute;
  left: 350px;
  top: 80px;
}

.todo-list header {
  width: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 10px;
  align-items: baseline;
}

.todo-list header h1 {
  font-size: 20px;
  font-weight: normal;
}

.todo-list header p {
}

span {
  background: black;
  border-radius: 9px;
  width: 18px;
  display: inline-block;
  line-height: 18px;
  text-align: center;
}

/*.circled {
  background-color: black;
  border-radius: 19px;
}*/


/* main container table */

.right {
  width: 100%;
  border-collapse: collapse;
}

table.right a.add-todo {
  color: #148fd5;
  text-decoration: none;
}

table.right a.ticked {
  color: #b3b3b3;
  text-decoration: line-through;
}

table.right a.unticked {
  color: black;
  text-decoration: none;
}

table.right a.unticked:hover {
  color: #148fd5;
}

table.right td {
  line-height: 45px;
  border-top: 1px solid;
}

table.right td:nth-child(1) {
  width: 5%;
}

table.right td:nth-child(2) {
  width: 90%;
}

table.right td:nth-child(3) {
  width: 5%;
  text-align: right;
}

table.right td:nth-child(1) {
  text-align: center;
}


table.right tr:first-child td {
  border: none;
}


/* Navigation Style */

nav::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

div.all-todos, div.completed {
  margin: 70px 25px 0 100px;
}

table.left {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  letter-spacing: 1px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Helvetica";
  text-align: center;
}

th + th {
  text-align: left;
}

td + td {
  text-align: left;
}

td.circled, td:first-child {
  text-align: right;
}

/* nav collapse */

#nav-toggle {
  display: none; /* hide the checkbox */
}

[alt="Todo Menu"] {
  display: none;  /* hide the hamburger menu until browswer width is 768px or less */
}

/* collapse nav when screen size is is 768px or less */

@media screen and (max-width: 768px) {
  label {
    cursor: pointer;
  }

  #nav-toggle {
    display: none; /* hide the checkbox */
  }

  #menu {
    display: none;
  }

  .todo-list {
    border: 1px solid green;
    width: 90vw;
  }

  table.right {
    /*width: 100vw;*/
    border: 1px solid red;
  }

  #nav-toggle:checked + #menu {
    display: block;
  }

  [alt="Todo Menu"] {
    width: 20px;
    height: 15px;
    margin: 20px 0 30px 30px;
    display: inline-block;
  }

  .todo-list {
    position: absolute;
    left: 30px;
  }

  #nav-toggle:checked ~ .todo-list {
    position: absolute;
    left: 350px;
  }

}
